html(ng-app="capp")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# deal: http://ogp.me/ns/deal#")
    meta(charset='utf8')
    base(href='/')
    title Sharing test.
    meta(property="fb:app_id", content="1586837861560263")
    meta(property="og:title", content="You too can avail exciting deals with 1000 Zopnet points by using #{username}'s referral code: #{code}")
    meta(property="og:url" content="http://ec2-54-68-41-64.us-west-2.compute.amazonaws.com:3000/deal")
    meta(property="og:image" content="https://viralx.s3-us-west-2.amazonaws.com/campaign/55058f2ad99546000011c66d-jis87.jpg")
    meta(property="og:type" content="testzopnet:deal")
  body
    block body
